.card-login {
    width: 50%;
    padding: 1em;
    margin: 14em;
    text-align: center;
}

.pagina-base {
  background-color: aqua;
  display: flex;
  height: 1000px;
}

body {
  height: 100% !important;
  margin: 0px !important;
  background-color: pink;
}

:root {
  margin: 0px;
  padding: 0px;
}
