.pagina-base {
  background-color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

body {
  height: 100% !important;
  margin: 0px !important;
  background-color: pink;
}

:root {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 1000px) {  
  .card-login {
    margin: 12em;
  }
}

@media screen and (max-width: 900px) {
  .card-login {
    margin: 11em;
  }
}

@media screen and (max-width: 800px) {
  .card-login {
    margin: 10em;
  }
}

@media screen and (max-width: 700px) {  
  .card-login {
    margin: 7em;
  }
}

@media screen and (max-width: 600px) {
  .card-login {
    margin: 4em;
  }
}

@media screen and (max-width: 500px) {
  .card-login {
    margin: 3em;
  }
}

@media screen and (max-width: 400px) {
  .card-login {
    margin: 2em;
  }
}

@media screen and (max-width: 300px) {
  .card-login {
    margin: 1em;
  }
}

@media screen and (max-width: 200px) {
  .card-login {
    margin: 0.5em;
  }
}
