.base {
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.card-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 14em;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 0.5em;
  }
  

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-left: 3em;
    margin-right: 3em;
}

.form-login div{
    margin-top: 0.5em;
}

.form-login p{
    margin-top: 1em;
}

.logo-login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
}

.login-google {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.login-google div, button{
    width: 100%;
    height: auto;
    text-align: center;
}

.login-google button div{
    width: 40%;
    text-align: right;
}

.login-google button span{
    width: 60%;
    text-align: left;
}

.inputs-login {
    width: 100%;
    margin-bottom: 1em;
}

.form-login input {
    width: 100%;
}

.buttons-login {
    width: 100%;
    margin-bottom: 1em;
}

.buttons-login div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons-login div button {
    width: 150px;
}

.buttons-login-criar-conta {
    color: #1ADB44;
    background-color: white;
    border: none;
    font-weight: bold;
}

.buttons-login-criar-conta:hover {
    color: white;
    background-color: #1ADB44;
}

.buttons-login-entrar {
    color: white;
    background-color: #1ADB44;
    border: none;
    font-weight: bold;
}

.buttons-login-entrar:hover {
    color: white;
    background-color: #16bb3a;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1000px) {

    .card-login {
        margin: 12em;
    }

    .form-login{
        margin-left: 2em;
        margin-right: 2em;
        max-height: 30em;
    }
    
    .form-login p{
        margin-top: 1em;
    }

    .form-login img{
        width: 300px;
    }
    
}
  
@media screen and (max-width: 900px) {
    
    .card-login {
        margin: 11em;
    }
    
    .form-login{
        margin-left: 1.9em;
        margin-right: 1.9em;
    }
    
    .form-login p{
        margin-top: 0.95em;
    }

    .form-login img{
        width: 290px;
    }

}

@media screen and (max-width: 800px) {
    
    .card-login {
        margin: 10em;
    }
    
    .form-login{
        margin-left: 1.8em;
        margin-right: 1.8em;
    }
    
    .form-login p{
        margin-top: 0.90em;
    }

    .form-login img{
        width: 270px;
    }

}

@media screen and (max-width: 700px) {
    
    .card-login {
        margin: 7em;
    }
    
    .form-login{
        margin-left: 1.7em;
        margin-right: 1.7em;
    }
    
    .form-login p{
        margin-top: 0.85em;
    }

    .form-login img{
        width: 270px;
    }

}

@media screen and (max-width: 600px) {
    
    .card-login {
        margin: 4em;
    }
    
    .form-login{
        margin-left: 1.6em;
        margin-right: 1.6em;
    }
    
    .form-login p{
        margin-top: 0.80em;
    }

    .form-login img{
        width: 260px;
    }

    .login-google {
        width: 100%;
    }

    .inputs-login {
        width: 90%;
    }

    .buttons-login {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    
    .card-login {
        margin: 3em;
    }
    
    .form-login{
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    
    .form-login p{
        margin-top: 0.75em;
    }

    .form-login img{
        width: 250px;
    }

    .login-google {
        width: 90%;
    }

    .inputs-login {
        width: 80%;
    }

    .buttons-login {
        width: 80%;
    }

}

@media screen and (max-width: 400px) {
    
    .card-login {
        margin: 2em;
    }
    
    .form-login{
        margin-left: 1.4em;
        margin-right: 1.4em;
    }
    
    .form-login p{
        margin-top: 0.70em;
    }

    .form-login img{
        width: 200px;
    }

    .login-google {
        width: 80%;
    }

    .inputs-login {
        width: 70%;
    }

    .buttons-login {
        width: 70%;
    }
}

@media screen and (max-width: 300px) {
    
    .card-login {
        margin: 1em;
    }

    .form-login{
        margin-left: 1.3em;
        margin-right: 1.3em;
    }
    
    .form-login p{
        margin-top: 0.65em;
    }

    .form-login img{
        width: 170px;
    }

    .login-google {
        width: 60%;
    }

    .inputs-login {
        width: 60%;
    }

    .buttons-login {
        width: 60%;
    }
}

@media screen and (max-width: 200px) {
    
    .card-login {
        margin: 0.5em;
    }

    .form-login{
        margin-left: 1.2em;
        margin-right: 1.2em;
    }
    
    .form-login p{
        margin-top: 0.60em;
    }

    .form-login img{
        width: 140px;
    }

    .login-google {
        width: 10%;
    }

    .inputs-login {
        width: 10%;
    }

    .buttons-login {
        width: 10%;
    }
}